<h1>Editing counter</h1>

<%= render 'form' %>
<!--
 <%= form_for(@counter) do |f| %>

 <div class="field">
  <%= f.label :goal %><br />
  <%= f.number_field :goal %>
</div>
<div class="actions">
    <%=%>
</div>

  <div class="field">
    <%= f.label :foul %><br />
    <%= f.number_field :foul %>
  </div>
  <div class="actions">
    <%= f.submit 'update_foul'%>
  </div> 
<% end %>

-->
<%= link_to 'Show', @counter %> |
<%= link_to 'Back', counters_path %>
